.App {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  font-family: "Segoe UI", sans-serif;
  text-align: center;
  background-color: #f0fff4;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}

.search-section {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.search-section input {
  padding: 10px;
  width: 60%;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.search-section button {
  padding: 10px 20px;
  background-color: #48bb78;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.result-card {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
